html {
    font-size: 17px;
}

.franklin-content {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.35em; }

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
    .franklin-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto; }
    }

/* on narrow device, reduce margins */
@media (max-width: 768px) {
    .franklin-content {
        padding-left: 6%;
        padding-right: 6%; }
    }

.postlink {
    display: block;
    padding: 1.5rem 0.5rem 0.0rem 0.5rem;
    border-bottom: 1px double lightgrey;
}

.postlink > p {
    color: #808080;
    font-size: 0.9em;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}

.postlink > p a {
    color: #303030;
    font-family: Open Sans, sans-serif;
    display: block;
    padding-bottom: 0.5em;
}

.figure > p {
    font-size: 80%;
    font-style: italic;
    margin-top: 0;
    padding-left: 15%;
}